body{
    background-color: black;
    }
h1 {
    text-transform: uppercase;
    font-size: 3rem;
      }
.motivational-img{
    border: 5px solid white;
    width: 100%;
  }
.poster{
    margin-top: 7%;
    margin-left: 25%;
    width:50%;
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
  }
